<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles/jobs.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="icon" href="img/tabIcon.png">
  <title>Jobs</title>

</head>
<body style="background-color: rgb(209, 209, 209);">

    <div id="navbar">
        <img src="img/logo.png" style="float: left; display: block; width: 200px;"> 
        <a href="/homepageAfterLogin" style="padding-top: 51px;">Home</a>
        <a href="/jobs" style="padding-top: 51px;">Jobs</a>
        <a href="/candidates" style="padding-top: 51px;">Candidates</a>
        <a href="/contact" style="padding-top: 51px;">Contact</a>
        <a href="/homepageBeforeLogin" style="float: right; padding-top: 51px; padding-right: 120px; color: #4495f1;" >Log out</a>
        <a href="/postJob" style="float: right; padding-top: 51px; color: #4495f1;" >Post a job</a>
        <a href="/profile" style="float: right; padding-top: 51px; color: #4495f1;" >My Profile</a>
    </div>

    <section id="gigs" class="container">
        <center><h1 style="font-size:40px">Jobs</h1></center>

        <%for(let i = 0; i < userList.length; i++) { %> 
            <div class="gig">
                <h3><%=userList[i].JobTitle%></h3>
                <p><%=userList[i].Description%></p>
                <ul>
                    <li>Salary: <%=userList[i].Salary%></li>
                    <li><button href="/" class="btn btn-reverse" onclick="document.getElementById('id01').style.display='block'">Apply Now</button></li>
                    <div id="id01" class="modal">
  
                        <form class="modal-content animate" action="/jobs" method="POST">
                            
                          <div class="container">

                            <center><h1>Job Application Form</h1></center>

                            <label for="uname"><b>Job title that you want to apply for: </b></label>
                            <input type="text" placeholder="Enter job title" name="jobname" required>

                            <label for="uname"><b>First Name</b></label>
                            <input type="text" placeholder="Enter first name" name="fname" required>

                            <label for="uname"><b>Last Name</b></label>
                            <input type="text" placeholder="Enter last name" name="lname" required>

                            <label for="uname"><b>Email</b></label>
                            <input type="text" placeholder="Enter email" name="email" required>

                            <label for="uname"><b>Details</b></label>
                            <textarea type="text" placeholder="Write your CV" name="details" cols="130" rows="10" required></textarea>
                              
                            <button type="submit" class="btn-apply">Apply for the job</button>
                          </div>
                      
                        </form>
                    </div>
                    <li><button href="/" class="btn btn-reverse">Remove the job</button></li>
                    <li></li>
                </ul>
                <div class="tech">
                    <small><b>More information: </b></small>
                    <button type="button" class="collapsible">HERE</button>
                    <div class="content"> 
                        <center><h3 style="font-size:30px">Job: <%=userList[i].JobTitle%></h3></center>
                        <div style="font-size: 18px">
                            <p><b>Company:</b> <%=userList[i].CompanyName%></p>
                            <P><b>Category:</b> <%=userList[i].Category%></P>
                            <p><b>City:</b> <%=userList[i].City%></p>
                            <p><b>Work Time:</b> <%=userList[i].WorkTime%></p>
                            <p><b>Description:</b> <%=userList[i].Description%></p>
                            <p><b>Salary:</b> <%=userList[i].Salary%></p>
                            <p><b>Published on:</b> <%=userList[i].PublishedOn%></p>
                        </div>
                    </div>
                </div>
            </div>
        <%}%>
    </section>

    <button id="btnToScrollTop" onclick="topFunction()">
        <i class="fas fa-arrow-up"></i>
    </button>
    
    <footer id="footer">
        <div>
            <center>
                <p id="copyright">© 2021 Copyright: Easy Job</p>
            </center>
        </div>
    </footer>

<script src="js/jobs.js"></script>
</body>
</html>
